<!DOCTYPE html>
<html>

    <head>

        <title>Index</title>
        <link rel="stylesheet" href="/stile.css?version=2" />

    </head>

    <body>
           
        <h1 th:text="'Bentornato ' + ${userDetails.username}"></h1>

        <div>
            <a href="/artist/formNewSong">Aggiungi una nuova canzone</a>
            <a href="/artist/deleteSongs">Elimina una canzone</a>
            <br>
            <a href="/artist/formNewAlbum">Aggiungi un nuovo album</a>
            <a href="/artist/deleteAlbums">Elimina un album</a>
        </div>

    </body>

</html>