<!DOCTYPE html>
<html>

<head>
	<title>
		BeatBuddy - Recensione
	</title>
</head>

<body>

	<h1>Crea recensione</h1>
	<form th:action="@{/formNewReview}" method="POST">
			<div>
				<span>Stelle:</span>
				<span><input name="stars" type="text" required th:field="${review.stars}"/></span>
			</div>
			<div>
				<span>Commento:</span>
				<span><input name="comment" type="text" required th:field="${review.comment}"/></span>
			</div>
            <div>
				<span>Data:</span>
				<span><input name="pubblicationDate" type="text" required th:field="${review.pubblicationDate}"/></span>
			</div>
            
			<div>
				<span><button type="submit">Submit</button></span>
			</div>
	</form>
</body>

</html>