<!DOCTYPE html>
<html>

    <head>

        <title>Index</title>
        <link rel="stylesheet" href="/stile.css?version=2" />

    </head>

    <body>

        <header>

            <form>
                <img src="/images/beatbuddy_logo.jpeg"/>
                <input placeholder="Search for artists, bands, tracks, podcasts" type="search" name="q" autocomplete="off">
                <button type="submit">Search</button>
            </form>

        </header>

        <section>



        </section>


        <footer>



        </footer>

        <!--<img src="/images/logo-siw.png" width="50%"/>

        <h1>Lista Film</h1>
        <a href="/movie">Lista</a>
        <hr>

        <h1>Gestione Film</h1>
        <a href="/gestione">Gestisci film</a>-->

    </body>

</html>