/* .favorite-songs-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.song-card {
    margin-bottom: 20px;
    transition: transform 0.2s;
}
.song-card:hover {
    transform: scale(1.05);
}
.song-image {
    height: 200px;
}
.playlist-info-container {
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background: #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.playlist-info-title {
    margin-bottom: 20px;
} */
/* 
.favorite-songs-container {
    margin-top: 40px;
    width: 50px;
}

.col-md-6{
    text-decoration: none;
    color: black;
}

.song-card {
    display: flex;
    flex-direction: column;

    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.song-card:hover {
    background-color: #f7f7f7;
}

.song-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.song-details {
    text-align: center;
}

.song-title {
    font-size: 1.5em;
    font-weight: bold;
}

.song-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.btn {
    width: 120px;
}

 */
 .favorite-songs-container {
    margin-top: 40px;
}

.song-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 20px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    color: inherit;
}

.song-card:hover {
    background-color: #f7f7f7;
}

.song-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.song-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.song-info {
    flex: 1;
    padding-right: 20px;
}

.song-title {
    font-size: 1.5em;
    font-weight: bold;
}

