.navbar {
    background: linear-gradient(90deg, #834230 0%, #9e5c49 50%, #834230 100%);
    /* background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(30,30,70,1) 50%, rgb(0, 0, 0) 100%); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff !important;
}
.nav-link {
    color: #fff !important;
    margin: 0 10px;
    transition: color 0.3s ease;
}
.nav-link:hover {
    color: #ffdd57 !important;
}
.nav-item {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 5px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}
.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.nav {
    align-items: center;
}

 .favorite-songs-container {
    margin-top: 40px;
}

.song-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 20px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    color: inherit;
}

.song-card:hover {
    background-color: #f7f7f7;
}

.song-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.song-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.song-info {
    flex: 1;
    padding-right: 20px;
}

.song-title {
    font-size: 1.5em;
    font-weight: bold;
}