body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* NAV BAR */ 

.navbar {
    background-color: white;
}
.navbar .navbar-brand {
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-nav {
    flex-direction: row;
}
.navbar-nav .nav-link{
    color: black;
}
.navbar-nav .nav-link:hover {
    color: #834230; 
}

/* HEADER */


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 15px;
    width: 70%; /* Larghezza del form */
    max-width: 600px; /* Larghezza massima del form */
}

.search-input {
    flex: 1; /* L'input occupa tutto lo spazio disponibile */
    margin-right: 10px;
}

.search-btn {
    min-width: 80px; /* Larghezza minima del pulsante */
    border-color: #834230 !important;
    background-color: white !important; 
    color: #834230 !important; 
  
}

.search-btn:hover{
    background-color: #834230 !important;
    color: white !important;
}

.carousel-slide{
    width: 20%;
}

.carousel-item img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    width: 100%;
}

/*SECTION*/

.list-group{
    margin: 30px;
}

.song-list-section {
    display: inline;
    text-align: center;
    width: 100%;
}

.song-list-section h1 {
    font-family: 'Montserrat', sans-serif;
    color: #834230;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.song-list {
    list-style-type: none;
}

.song-item {
    margin: 20px;
}
.song-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
}

.song-card:hover {
    background-color: #834230;
    color: white;
}

.song-image-container {
    display: flex;
    justify-content: flex-start;
    width: 100px;
    margin-right: 20px;
}

.song-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.song-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.song-artists {
    flex: 1;
    text-align: right;
}

.song-artists ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.song-artists li {
    margin: 5px 0;
}

.song-writer-name {
    font-size: 1em;
}
