/* NAV BAR */
.navbar {
    background: linear-gradient(90deg, #834230 0%, #9e5c49 50%, #834230 100%);
    /* background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(30,30,70,1) 50%, rgb(0, 0, 0) 100%); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff !important;
}
.nav-link {
    color: #fff !important;
    margin: 0 10px;
    transition: color 0.3s ease;
}
.nav-link:hover {
    color: #ffdd57 !important;
}
.nav-item {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 5px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}
.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.nav {
    align-items: center;
}

/* SECTION */


.song-container {
    padding: 30px;
    margin-top: 4rem !important;
}

.song-image {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

/* .song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -270px;
    margin-left: -12%;
} */

.song-info h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.song-info ul {
    padding: 0;
    list-style-type: none;
    font-size: 1.2rem; /* Aggiunto per ingrandire le voci della lista */
}

.song-info li {
    padding: 5px 0; /* Aumentato da 5px */
}

/* .song-info li span {
    font-weight: bold;
    font-size: 1.5rem; /* Aggiunto per ingrandire il testo */
/*} */

.artist-section {
    margin-top: 20px;
}

.artist-section h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.artist-list ul {
    padding: 0;
    list-style-type: none;
}

.artist-list li {
    padding: 5px 0;
}

.artist-list li span {
    font-weight: bold;
}

.review-section {
    margin-top: 20px;
    /* margin-left: 10%; */
}

.review-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #834230;
    padding: 20px;
    margin-bottom: 20px;
}

.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.review-header img {
    border-radius: 50%;
    margin-right: 15px;
    width: 50px;
    height: 50px;
}

.review-stars {
    color: #FFD700;
    margin-right: 10px;
}

.review-content {
    /* font-size: 16px; */
    font-size: 1.2rem;
}

.form-label {
    font-weight: bold;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #834230;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn{
    background-color: #C6AC8F !important;
    border-color: #C6AC8F !important;
}
.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .song-info {
        margin-top: -20px;
    }
}

.modal-dialog {
    margin-top: 20%;
}