<!DOCTYPE html>
<html>

    <head>
        <title>SiwFood - New Song</title>
        <link rel="stylesheet" href="/css/formNewSong.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <script src="/js/formNewSong.js"></script>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">BeatBuddy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">
                                <i class="fas fa-home"></i>
                                Home
                            </a>
                        </li>
                          <li class="nav-item">
                              <a class="nav-link" href="/logout">Esci</a>
                          </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/registration">Crea un account</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="container mt-4 d-flex flex-column align-items-center">
            <h1 class="mb-4">Aggiungi una nuova canzone</h1>

            <div class="w-50 form-container">
                <form th:action="@{'/artist/newAlbum/newSong/song'}" th:object="${song}" method="post" class="text-center">

                    <div class="mb-3">
                        <h2>Informazioni generali:</h2>
                    </div>
                    <div class="form-group row mb-3 justify-content-center">
                        <label for="songTitle" class="col-sm-3 col-form-label text-right">Nome:</label>
                        <div class="col-sm-6">
                            <input required type="text" class="form-control" id="songTitle" th:field="${song.title}" />
                        </div>
                    </div>
                    <div class="form-group row mb-3 justify-content-center">
                        <label for="songDuration" class="col-sm-3 col-form-label text-right">Durata:</label>
                        <div class="col-sm-6">
                            <input required type="text" class="form-control" id="songDuration" th:field="${song.duration}" />
                        </div>
                    </div>
                    <div id="singersDiv" class="mb-3">
                        <h2>Cantanti:</h2>
                    </div>
                    <button type="button" class="btn btn-primary mb-3" onclick="addSingers()">Aggiungi un cantante</button>
    
                    <div id="producersDiv" class="mb-3">
                        <h2>Produttori:</h2>
                    </div>
                    <button type="button" class="btn btn-primary mb-3" onclick="addProducers()">Aggiungi un produttore</button>
    
                    <div id="writersDiv" class="mb-3">
                        <h2>Scrittori:</h2>
                    </div>
                    <button type="button" class="btn btn-primary mb-3" onclick="addWriters()">Aggiungi uno scrittore</button>
    
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-success">Registra</button>
                    </div>

                </form>
            </div>

            <div class="container mt-4 d-flex flex-column align-items-center" th:if="${error}">
                <span th:text="${error}"></span>
            </div>

        </div>

    </body>

</html>