<!DOCTYPE html>
<html>

    <head>
        <title>BeatBuddy - songs</title>
    </head>

    <body>
        
        <a href="/"><h1>BeatBuddy</h1></a>

        <div>
            <i>Canzoni:</i>
            <div th:if="${songs}">

                <ul>
                    <li th:each="song : ${songs}">
                        <span th:text="${song.title}">Nome canzone</span>
                        <a th:href="@{'/artist/deleteSongs/'+${song.id}}">Elimina</a>
                    </li>
                </ul> 

            </div>

            <div th:unless="${songs}">
                <i>Nessuna canzone trovata</i>
            </div>
        
        </div>

    </body>

</html>